<template>
  <h2>{{user}}</h2>
</template>

<script>

 // change starts---
import axios from "axios";
const url = "http://localhost:3000";
// ends---

export default {

  name: 'HelloWorld',

  // change starts---
  data() {
    return{
      user:{}
  }
},
mounted(){
      axios.get(url).then((res)=>{
        
        console.log(res.data);
        this.user = res.data;

      }).catch(err =>{
          console.log(err);
        });
    }
}
// ends---

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
